
/*---------------------------------
            Shared styling
-----------------------------------
*/

/*General background color of all pages*/
.page-background-color{
    background-color: #f3efe8;
}

/*Header bar at top of all pages*/
.header {
    padding: 60px;
    text-align: center;
    background: #8bbba0;
    color: white;
    /* text color*/
    font-size: 30px;
}

/*Footer bar at bottom of all pages*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #866858;
    color: white;
    /* text color*/
    text-align: center;
}

.cafe-main figure {
  text-align: center;
  margin: 24px 0;
}

/*---------------------------------
    index.html exclusive styling
-----------------------------------
*/





/*---------------------------------------------
    catcafe-expalantion.html exclusive styling
-----------------------------------------------
*/

/*Designing the font and display style for the navigation menu*/
.nav {
    text-align: center;
    padding: 10px;
    bottom: 0;
}

.nav a {
    color: #333;
    text-decoration: none;
    margin: 0 15px;
    font-size: 14px;
    text-decoration: underline;
}

.cafe-main {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px 30px;
  background-color: #ffffffc5;  /* 柔和半透明白底 */
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  line-height: 1.7;
  font-size: 18px;
  color: #4a4a4a;
}







/*---------------------------------
    cats.html exclusive styling
-----------------------------------
*/





/*---------------------------------
    support.html exclusive styling
-----------------------------------
*/








